* {
	margin:0;
	padding:0;
}

body {
	color: #222;
	font-family: arial,sans-serif;
}

.main-container {
	margin-top:89px;
	text-align: -webkit-center;
}

#logo-container {
	padding-top:109px;
	margin: 0 auto;
}

#search-container {
	margin-top: 23px;
}

#buttons-container {
	margin-top: 23px;
}

#logo {
	width: 272px;
	height:92px;
}

#search-bar {
	height:10px;
	width: 535px;
	padding: 15px;
	box-shadow: 0 2px 2px 0 rgb(0,0,0,0.16), 0 0 0px 1px rgb(0,0,0,0.8);
}

#search-bar:focus {
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 0.1);
	outline: none;
}
